---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://slidify.github.io/assets/js/jquery.liveType.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('a#announce').liveType({
            typeSpeed: 50,
            pauseTime          : 100,
            pauseOnPunctuation : true,                             
            punctuationChars   : [' ', '.', '?', '!', ':', ';'],
            cursor: ''
        });
    })
</script>
